root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{html,css}]
indent_style = space
indent_size = 4

[*.{js,ts,tsx,mjs}]
quote_type = single
max_line_length = 100
indent_style = space
indent_size = 4

[*.spec.{js,ts}]
max_line_length = 120

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[{package,tsconfig}.json]
indent_style = space
indent_size = 2
