on: [push, pull_request, workflow_dispatch]

jobs:
  publish-html:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Zig
        uses: mlugg/setup-zig@v2
        with:
          version: 0.11.0
      - name: Build
        run: "zig build -Doptimize=ReleaseFast && mkdir public && cp -R zig-out/html/* public/"
      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v1
        with:
          target_branch: gh-pages
          build_dir: public
          allow_empty_commit: false
          committer_name: github-actions
          committer_email: ""
          commit_message: "Deploy browser build to GitHub Pages"
          keep_history: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
